* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
:root {
    --text-color-black-gray: #575d5e;
    --Primary-color-black: #152427;
    --Primary-color-black-green: #143c3c;
    --Scondery-color-light-green: #e2eddf;
    --text-color-light-gray: #7d8188;
    --text-color-black-gray: #575d5e;
    --Scondery-color-blue: #83a17d;
    --Scondery-color-gray: #6a8383;
}

.btn {
    --height: 57px;

    display: inline-block;
    width: 173px;
    min-width: 173px;
    height: var(--height);
    border-radius: 99px;
    border: 1.5px solid #143c3c;
    background: var(--Primary-color-black-green);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: var(--height);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.lv1 {
    color: var(--Primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.lv2 {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.lv3 {
    color: var(--Primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.control {
    display: flex;
    column-gap: 17px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    border: 1px solid var(--Scondery-color-light-green);
    background-color: var(--Scondery-color-light-green);
    color: var(--Primary-color-black-green);
    transition: 0.25s;
}

.control__btn:last-child {
    transform: rotate(180deg);
}

.control__btn:hover {
    color: #fff;
    background-color: var(--Primary-color-black-green);
    border-color: var(--Primary-color-black-green);
    cursor: pointer;
}

.breadcrumb {
    position: relative;
    display: inline-block;
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    margin-left: 41px;
    margin-bottom: 12px;
}

.breadcrumb::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black);
    top: 9px;
    left: -41px;
}

/* Header */
.header {
    min-height: 100vh;
    padding: 28px 0 88px;
}

.header__inner {
    position: relative;
    padding-bottom: 14px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__body {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    font-family: "Public Sans";
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    padding: 8px 19px;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--Primary-color-black);
}

.navbar__link--active {
    position: relative;
    text-shadow: 1px 0 0 currentColor;
    color: var(--Primary-color-black);
}

.navbar__link--active::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green);
    bottom: -25px;
    left: 21px;
}

.header__action {
    margin-left: 88px;
}

.header__action--signup {
    font-family: "Public Sans";
    padding: 0 20px;
}

.header__action--signup::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    bottom: 0;
    left: 0;
}

/* Hero */
.hero {
    display: flex;
    margin-top: 60px;
    position: relative;
}

.hero__content {
    width: 43%;
}

.hero__heading {
    margin-top: 43px;
    font-family: "Public Sans";
    width: 368px;
}

.hero__desc {
    margin-top: 20px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.play {
    margin-left: 36px;
    display: flex;
    align-items: center;
}

.play__action--border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #143c3c transparent transparent #143c3c;
    transform: rotate(-45deg);
    transition: 0.25s;
}

.play__action--border:hover {
    transform: rotate(135deg);
    border-color: #83a17d transparent transparent #83a17d;
}

.play__action--border:hover .play__action {
    transform: rotate(-135deg);
    color: #83a17d;
    background-color: #143c3c;
}

.play__action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #83a17d;
    border-radius: 50%;
    color: #fff;
    transform: rotate(45deg);
    transition: 0.25s;
}

.play__desc {
    color: #152427;
    margin-left: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
    width: 57%;
}

.hero__images {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero__img:nth-of-type(2) {
    margin-top: 77px;
}

.hero__img--blur {
    position: absolute;
    left: 156px;
    top: 122px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.vector {
    position: absolute;
}

.flower__top {
    top: -35.61px;
    left: 254.61px;
    transform: rotate(9.392deg);
}

.vector__top {
    top: -33px;
    left: 300px;
}

.flower__bottom {
    transform: rotate(-174.659deg);
    right: 34.12px;
    top: 501.06px;
}

.vector__bottom {
    transform: rotate(175.95deg);
    top: 240px;
    right: 90px;
}

/* Social */
.social {
    margin-top: 42px;
    margin-bottom: 53px;
}

.social__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 78px 121px;
    border-radius: 999px;
    background: var(--Scondery-color-light-green);
}

.social__media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google {
    color: var(--Primary-color-black-green);
    font-size: 3.1rem;
    font-weight: 500;
}

.slack__heading {
    margin-left: 3px;
    color: var(--Primary-color-black-green);
    font-size: 3.2rem;
    font-weight: 600;
}

.agworld__heading {
    margin-left: 14px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.riotinto {
    color: var(--Primary-color-black-green);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.heroku__heading {
    margin-left: 10px;
    color: var(--Primary-color-black-green);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.1995rem;
}

/* Service */
.services {
    padding: 53px 0;
}

.service__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__row--left {
    width: 46%;
}

.service__row--heading {
    position: relative;
}

.service__row--heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black);
    position: absolute;
    bottom: 19px;
    right: 103px;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
}

.service-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    transform: scale(1.1);
}

.service-item:hover .service-item__body {
    padding-left: 18px;
}

.service-item__thumb {
    height: 318px;
    overflow: hidden;
}

.service-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.service-item__body {
    margin-top: 24px;
    padding-bottom: 23px;
    transition: 0.25s;
}

.service-item__heading {
    display: inline-block;
}

.service-item__desc {
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
    width: 268px;
    margin-top: 18px;
}

/* About us */
.about-us {
    padding: 96px 0 79px;
}

.about-us__inner {
    display: flex;
}

.about-us__images {
    width: 57.5%;
    display: flex;
    position: relative;
}

.about-us__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-us__img:nth-child(1) {
    margin-top: 90px;
}

.about-us__img:nth-child(2) {
    margin-top: 13px;
    margin-left: 21px;
}

.about-us__content {
    width: 42.5%;
}

.breadcrumb__about-us {
    margin-bottom: 20px;
}

.about-us__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
}

.about-us__list {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-us__list:last-child {
    margin-top: 58px;
}

.about-us__list::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 485px;
    height: 1px;
    background: #83a17d;
    bottom: -20px;
}

strong {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about-us__list--desc {
    font-size: 1.4rem;
    margin-left: 24px;
    color: var(--text-color-light-gray);
    font-weight: 500;
    line-height: 1.6;
}

.about-block {
    position: absolute;
    font-family: "Public Sans";
    background: #fff;
    padding: 19px 11px 11px 17px;
    border-radius: 8px;
    bottom: 8px;
    right: 55px;
}

.block__heading {
    color: var(--Primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 6px;
}

.block__desc {
    margin-top: 6px;
    margin-left: 6px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    line-height: 1.4;
}

.block__value,
.block__load,
.block__team--interview {
    display: block;

    color: var(--Primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.block__value {
    margin-top: 10px;
    position: relative;
}

.block__value::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 2;
}

.block__load {
    margin-top: 8px;
    position: relative;
    text-align: right;
}

.block__load::before {
    content: "";
    display: inline-block;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    position: absolute;
    z-index: 0;
    top: -7px;
    right: 2px;
    z-index: 1;
}

.block__circle {
    margin-top: 3px;
    display: block;
}

.block__teams {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block__images {
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.block__team--img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid #fff;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-left: -6px;
}
/* Our Process */
.process {
    padding-bottom: 148px;
}

.breadcrumb__process {
    margin-top: 36px;
}

.process__heading {
    width: 477px;
    position: relative;
}

.process__heading::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black);
    top: 84px;
    right: -9px;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 53px 30px 46px;
}

.process-item::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    bottom: 25px;
    left: 0;
}

.process-item:hover {
    border-radius: 33px;
    background: var(--Scondery-color-light-green, #e2eddf);
    padding: 57px 30px 76px;
}

.process-item:hover .process-item__row--desc {
    display: none;
}

.process-item:hover .process-item__row--link {
    visibility: visible;
}

.process-item:hover:after {
    content: none;
}
.process-item:hover .process__img {
    visibility: visible;
}

.process-item__row {
    display: flex;
    width: 50%;
    align-items: center;
}

.process-item__row--number {
    color: var(--Primary-color-black-green);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}

.process-item__row--title {
    margin-left: 64px;
}

.process-item__row--title:nth-child(2) {
    margin-left: 49px;
}

.process-item__row--title:nth-child(3) {
    margin-left: 47px;
}

.process-item__row--link {
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    visibility: hidden;
    top: 22px;
}

.process-item__row--desc {
    color: var(--text-color-light-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    width: 572px;
}

.process__img {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 92px;
}

/* Video */
.video {
    background: var(--Primary-color-black-green);
    padding-top: 116px;
    padding-bottom: 63px;
}

.video__inner {
    position: relative;
}

.video__content {
    display: flex;
}

.video__heading {
    width: 550px;
    color: #e7f9f9;
    position: relative;
}

.video__heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 66px;
    height: 2px;
    background: var(--Scondery-color-blue);
    bottom: 20px;
    right: 97px;
}

.video__desc {
    margin-top: 11px;
    color: var(--Scondery-color-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    width: 570px;
}

.video__link {
    margin-top: 13px;
}

.video__link--action {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.video__link--icon {
    margin-left: 26px;
    color: #80a07b;
}

.video__clip {
    margin-top: 65px;
    width: 1140px;
    height: 544px;
    border-radius: 22px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.video-icon {
    position: absolute;
}

.flower {
    top: 93px;
    right: -47.58px;
    transform: rotate(176.985deg);
}

.vector {
    right: -97.3px;
}

/* Feature */
.feature {
    padding-top: 140px;
    padding-bottom: 92px;
}

.feature__heading {
    margin: auto;
    text-align: center;
    width: 520px;
}

.feature__desc {
    margin-top: 20px;
    width: 547px;
    color: var(--text-color-light-gray);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
    margin-left: auto;
    margin-right: auto;
}

.feature__row {
    display: flex;
    column-gap: 45px;
}

.feature-box {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 362px;
    flex-shrink: 0;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.feature-box:hover {
    margin-top: 44px;
    border-radius: 160px;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    border: #fff;
}

.feature-box__icon {
    margin-top: 80px;
}

.feature-box__heading {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.feature-box__desc {
    margin-top: 9px;
    color: var(--text-color-light-gray);
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7;
    width: 264px;
}
