* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
:root {
    --text-color-black-gray: #575d5e;
    --Primary-color-black: #152427;
    --Primary-color-black-green: #143c3c;
    --Scondery-color-light-green: #e2eddf;
    --text-color-light-gray: #7d8188;
}

.btn {
    --height: 57px;

    display: inline-block;
    width: 173px;
    min-width: 173px;
    height: var(--height);
    border-radius: 99px;
    border: 1.5px solid #143c3c;
    background: var(--Primary-color-black-green);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: var(--height);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.lv1 {
    color: var(--Primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.lv2 {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.lv3 {
    color: var(--Primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.control {
    display: flex;
    column-gap: 17px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    border: 1px solid var(--Scondery-color-light-green);
    background-color: var(--Scondery-color-light-green);
    color: var(--Primary-color-black-green);
    transition: 0.25s;
}

.control__btn:last-child {
    transform: rotate(180deg);
}

.control__btn:hover {
    color: #fff;
    background-color: var(--Primary-color-black-green);
    border-color: var(--Primary-color-black-green);
    cursor: pointer;
}

/* Header */
.header {
    min-height: 100vh;
    padding: 28px 0 88px;
}

.header__inner {
    position: relative;
    padding-bottom: 14px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__body {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    font-family: "Public Sans";
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    padding: 8px 19px;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--Primary-color-black);
}

.navbar__link--active {
    position: relative;
    text-shadow: 1px 0 0 currentColor;
    color: var(--Primary-color-black);
}

.navbar__link--active::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green);
    bottom: -25px;
    left: 21px;
}

.header__action {
    margin-left: 88px;
}

.header__action--signup {
    font-family: "Public Sans";
    padding: 0 20px;
}

.header__action--signup::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    bottom: 0;
    left: 0;
}

/* Hero */
.hero {
    display: flex;
    margin-top: 60px;
    position: relative;
}

.hero__content {
    width: 43%;
}

.hero__heading {
    margin-top: 43px;
    font-family: "Public Sans";
    width: 368px;
}

.hero__desc {
    margin-top: 20px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.play {
    margin-left: 36px;
    display: flex;
    align-items: center;
}

.play__action--border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #143c3c transparent transparent #143c3c;
    transform: rotate(-45deg);
    transition: 0.25s;
}

.play__action--border:hover {
    transform: rotate(135deg);
    border-color: #83a17d transparent transparent #83a17d;
}

.play__action--border:hover .play__action {
    transform: rotate(-135deg);
    color: #83a17d;
    background-color: #143c3c;
}

.play__action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #83a17d;
    border-radius: 50%;
    color: #fff;
    transform: rotate(45deg);
    transition: 0.25s;
}

.play__desc {
    color: #152427;
    margin-left: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
    width: 57%;
}

.hero__images {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero__img:nth-of-type(2) {
    margin-top: 77px;
}

.hero__img--blur {
    position: absolute;
    left: 156px;
    top: 122px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.vector {
    position: absolute;
}

.flower__top {
    top: -35.61px;
    left: 254.61px;
    transform: rotate(9.392deg);
}

.vector__top {
    top: -33px;
    left: 300px;
}

.flower__bottom {
    transform: rotate(-174.659deg);
    right: 34.12px;
    top: 501.06px;
}

.vector__bottom {
    transform: rotate(175.95deg);
    top: 240px;
    right: 90px;
}

/* Social */
.social {
    margin-top: 42px;
    margin-bottom: 53px;
}

.social__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 78px 121px;
    border-radius: 999px;
    background: var(--Scondery-color-light-green);
}

.social__media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google {
    color: var(--Primary-color-black-green);
    font-size: 3.1rem;
    font-weight: 500;
}

.slack__heading {
    margin-left: 3px;
    color: var(--Primary-color-black-green);
    font-size: 3.2rem;
    font-weight: 600;
}

.agworld__heading {
    margin-left: 14px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.riotinto {
    color: var(--Primary-color-black-green);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.heroku__heading {
    margin-left: 10px;
    color: var(--Primary-color-black-green);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.1995rem;
}

/* Service */
.services {
    padding: 53px 0;
}

.service__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__row--left {
    width: 46%;
}

.service__breadcrumb {
    position: relative;
    display: inline-block;
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    margin-left: 41px;
    margin-bottom: 12px;
}

.service__breadcrumb::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black);
    top: 9px;
    left: -41px;
}

.service__row--heading {
    position: relative;
}

.service__row--heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black);
    position: absolute;
    bottom: 19px;
    right: 103px;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
}

.service-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    transform: scale(1.1);
}

.service-item:hover .service-item__body {
    padding-left: 18px;
}

.service-item__thumb {
    height: 318px;
    overflow: hidden;
}

.service-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.service-item__body {
    margin-top: 24px;
    padding-bottom: 23px;
    transition: 0.25s;
}

.service-item__heading {
    display: inline-block;
}

.service-item__desc {
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
    width: 268px;
    margin-top: 18px;
}
